.moreModalContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 5px;
  background-color: #000;
  opacity: 0.6;
  z-index: 1;
}

.deleteButton {
  display: block;
  padding: 13px 25px;
  margin: 3px 5px;
  cursor: pointer;
  color: #fff;
}

.deleteButton:hover {
  background-color: #50555b;
}

.pinButton {
  display: block;
  padding: 13px 25px;
  margin: 3px 5px;
  cursor: pointer;
  color: #fff;
}

.pinButton:hover {
  background-color: #50555b;
}